/*.logo{
	margin-left: 70px;
}*/
/*.navbar-nav{
	margin-left: 700px;
}
.nav-item{
	margin-left: 20px;
	font-weight: 800;
}
#ham{
	background-color: #ffffff;
}*/
@media (max-width: 576px){
	.tag{
		font-size: 32px;
	}
	/*.p-tag{
		font-size: 17px;
	}*/
	.coff{
		margin-top: 40px;
	}
}

@media (min-width: 576px) and (max-width: 991.98px) {
	.qual{
		margin-top: 40px;
	}
}
/*.mr-auto{
	margin-left: 700px;
}*/
.navbar-light .navbar-nav .active>.nav-link{
	font-size: 1.2rem;
	color: rgba(255,255,255,0.9);;
}
.navbar-light .navbar-nav .nav-link {
	font-size: 1.2rem;
    color: rgba(255,255,255,0.5);
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.8);
    background-color: #ffffff;
}
.sales{
	border: 2px solid #2990d9;
	border-radius: 10px;
	background-color: #2990d9;
	color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	/*margin-left: 10px;*/
	/*border: 1px solid blue;
	background-color: blue;*/
}
p{
	font-family: 'Comic Neue';
	font-size: 21px;
	line-height: 35px;
}
/*.home1{
	margin-left: 0;
	margin-right: 100px;
}*/
.content{
	font-family: 'Comic Neue';
	font-size: 18px;
	line-height: 30px;
}
/*.strength{
	float: left;
}*/
svg{
	margin-left: 10px;
	top: 10px;
	position: relative;
	/*float: left;*/
}

.ul-home2{
	font-family: 'Comic Neue';
	font-size: 18px;
	line-height: 30px;
	/*float: left;*/
}
/*.home2{	
	bottom: 150px;
	position: relative;	
	margin-left: 100px;
}*/
.contact{
	text-align: center;	
}
.icon1{
	font-size: 	30px;
	/*left: 670px;
	bottom: 43px;
	position: relative;	*/
}
/*.final-contact{
	top: 2px;
	position: relative;	
	font-size: 30px;
	float: left;
}*/
.icon2{
		font-size: 30px;
}
/*.add{
	top:10px;
	right: 107px;
	position: relative;
}*/
/*.add-line{
	bottom: 40px;
	position: relative;	
}*/

.div-add{
	color: #ffffff;
	border: 2px solid #2990d9;
	border-radius: 10px;
	background-color: #2990d9;
	/*width: 28%;*/
	height: 150px;
	/*margin-left: 20px;	*/
	/*margin-right: 2.5%;*/
	/*margin-bottom: 20px;*/
	padding-left: 10px;
	/*float: left;*/
}
/*.icon3{
	bottom: 49px;
	left: 115px;
	position: relative;	
	font-size: 30px;
}*/
