@media (max-width: 576px){
	.tag{
		font-size: 30px;
	}
	/*.p-tag{
		font-size: 17px;
	}*/
	.coff{
		margin-top: 40px;
	}
}

.navbar-light .navbar-nav .active>.nav-link{
	font-size: 1.2rem;
	color: rgba(255,255,255,0.9);;
}
.navbar-light .navbar-nav .nav-link {
	font-size: 1.2rem;
    color: rgba(255,255,255,0.5);
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.8);
    background-color: #ffffff;
}
.sales{
	border: 2px solid #2990d9;
	border-radius: 10px;
	background-color: #2990d9;
	color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	/*margin-left: 10px;*/
	/*border: 1px solid blue;
	background-color: blue;*/
}
.cup-list{
    color: #2990d9;
    font-size: 1.1rem;
}
.category-header{
    justify-content: center;
}
.single-header{
    border-left: 5px solid black;
    padding-left: 10px;
}
p{
	font-family: 'Comic Neue';
	font-size: 21px;
	line-height: 35px;
}
.specs{
    font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	line-height: 30px;
}
.contact{
	text-align: center;	
}
.icon1{
	font-size: 	30px;
	/*left: 670px;
	bottom: 43px;
	position: relative;	*/
}
.icon2{
		font-size: 30px;
}

.div-add{
	color: #ffffff;
	border: 2px solid #2990d9;
	border-radius: 10px;
	background-color: #2990d9;
	/*width: 28%;*/
	height: 150px;
	/*margin-left: 20px;	*/
	/*margin-right: 2.5%;*/
	/*margin-bottom: 20px;*/
	padding-left: 10px;
	/*float: left;*/
}
.thumbnail{
	border: 1px solid grey;
	border-radius: 10px;
}